<html>
	<head>
    <title>StakeTrak</title>

    <link href="{{ url_for('static', filename='') }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='') }}css/grayscale.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='') }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
    <link href="{{ url_for('static', filename='') }}css/dropzone.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='') }}css/basic.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='') }}css/custom.css" rel="stylesheet">
	</head>

	<body>
	  <h1>No results found!</h1>
    <h3>
      <button onclick="goBack()">Go Back</button>
      <script>
        function goBack() { window.history.back(); }
      </script>
    </h3>
	</body>

</html>
