<!DOCTYPE html>
<html lang="en">

    <!-- Adapted from Twitter Bootstrap template at http://startbootstrap.com/template-overviews/agency/--> 
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>StakeTrak</title>
    
        <!-- Bootstrap Core CSS -->
        <link href="{{ url_for('static', filename='') }}css/bootstrap.css" rel="stylesheet">
    
        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='') }}css/stylish-portfolio.css" rel="stylesheet">
    
        <!-- Custom Fonts -->
        <link href="{{ url_for('static',filename='') }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    </head>

    <body>
        <!-- Header -->
        <header id="top" class="header">
            <div class="text-vertical-center">
                <h1>StakeTrak</h1>
                <h3>Find, Profile, and Search the People in Your Documents</h3>
                <br>
    
                <!-- button for second page -->
                <a href='/secondpage'class="btn btn-dark btn-lg">Get Started</a>
            </div>
        </header>
    </body>    