{% extends "base.html" %}
{% block content %}

<html lang="en">
  <!-- Adapted from Twitter Bootstrap template at http://startbootstrap.com/template-overviews/agency/--> 
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Staketrak</title>

    <script src="{{ url_for('static', filename='') }}js/jquery.js"></script>

    <script src="{{ url_for('static', filename='') }}js/index.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='') }}css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='') }}css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static',filename='') }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">    
  </head>
  <body>
    <!-- Header -->
    <header id="top" class="header">
      <div class="text-vertical-center">
        
        <!-- button for second page -->
        <div id="options-container">
          <h1>Staketrak</h1>
          <h3>Automatically Track the People and Organizations that Matter</h3>
          <br>
          <a href="/upload" class="btn btn-dark btn-lg" id="add-new-files">Add New Files</a>
          <div class="btn btn-dark btn-lg" id="search-db">Search Database</div>
        </div>

        <form id="search-form" style="display: none;" method="get" action="{{ url_for('search') }}">
          <input style="width:630px; font-size: 30pt; height: 60px" type="text" name="q" placeholder="Search" required>
          <br>
          <br>
          <button class="btn btn-dark btn-lg" type="submit">Search</button>
          <a class="btn btn-dark btn-lg" id="go-back">Go Back</a>
        </form> 
      </div>
    </header>
  </body>  
</html>  

{% endblock %}