<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>StakeTrak</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='')}}img/favicon.ico">
        <link rel="stylesheet" href="{{ url_for('static', filename='') }}css/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='') }}css/flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="{{ url_for('static', filename='') }}css/common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="{{ url_for('static', filename='') }}css/common-files/css/animations.css">
        
        <!-- If you don't use any of these blocks just remove unnecessary CSS files -->
        <!-- blog -->
        <link rel="stylesheet" href="{{ url_for('static', filename='') }}css/ui-kit/ui-kit-blog/css/style.css">
        <!-- contacts -->
        <link rel="stylesheet" href="{{ url_for('static', filename='') }}css/ui-kit/ui-kit-contacts/css/style.css">
        <!-- content -->
        <link rel="stylesheet" href="{{ url_for('static', filename='') }}css/ui-kit/ui-kit-content/css/style.css">
        <!-- crew -->
        <link rel="stylesheet" href="{{ url_for('static', filename='') }}css/ui-kit/ui-kit-crew/css/style.css">
        <!-- footer -->
        <link rel="stylesheet" href="{{ url_for('static', filename='') }}css/ui-kit/ui-kit-footer/css/style.css">
        <!-- header -->
        <link rel="stylesheet" href="{{ url_for('static', filename='') }}css/ui-kit/ui-kit-header/css/style.css">
        <!-- price -->
        <link rel="stylesheet" href="{{ url_for('static', filename='') }}css/ui-kit/ui-kit-price/css/style.css">
        <!-- projects -->
        <link rel="stylesheet" href="{{ url_for('static', filename='') }}css/ui-kit/ui-kit-projects/css/style.css">
    </head>

    <body>
        
    <div id="top" class="page-wrapper">
        
        <!-- header-11 -->
      <header class="header-11">
        <div class="container">
          <div class="row">
            <div class="navbar col-sm-12" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle"></button>
                <a class="brand" href="#">
                  <img src="{{ url_for('static', filename='') }}css/common-files/icons/staketrak-logo280.png" width="280" height="53" alt=""></a>
              </div>
              <div class="collapse navbar-collapse pull-right">
                <ul class="nav pull-left">
                  <li><a id="btn-top" href="#">HOME</a>
                  </li>
                  <li><a id="btn-advantages" href="#">ADVANTAGES</a>
                  </li>
                  <li><a id="btn-hiw" href="#how-it-works">HOW IT WORKS</a>
                  </li>
                  <li><a id="btn-about" href="#about-us">ABOUT US</a>
                  </li>

                </ul>
                <form class="navbar-form pull-left">
                  <a class="btn btn-info" href="{{ url_for('login') }}">GO TO APP</a>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="header-background"></div>
      </header>

    <section class="header-11-sub bg-midnight-blue">
        <div class="background">&nbsp;</div>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3 style="margin-top: 90px"><b>Welcome to Staketrak</b></h3>
              <p>Automatically keep track of the stakeholders in your case, cause, or community.</p>
            </div>
            <div class="col-sm-7 col-sm-offset-1 player-wrapper">
              <div class="player">
                <iframe id="pPlayer" src="http://player.vimeo.com/video/152818359?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;player_id=pPlayer" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- content-5 -->
      <section id="advantages" class="content-5">
        <div class="container">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <h3>Advantages of Using Staketrak</h3>
              <p class="lead">Staketrak fits into your existing workflow. Gone are the days manually entering notes into Excel spreadsheets and emailing different colleagues for info on stakeholders.</p>
            </div>
          </div>
          <div class="row features">
            <div class="col-sm-4 col-sm-offset-2">
              <span class="fui-cmd"> </span>
              <h6>Automated Data Entry</h6>
              <p>Stop wasting time manually entering information into spreadsheets</p>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
              <span class="fui-windows"> </span>
              <h6>Searchable, Centralized Database</h6>
              <p>We integrate databases from your different teams and offices into one platform you can search</p>
            </div>
          </div>
          <div class="row features">
            <div class="col-sm-4 col-sm-offset-2">
              <span class="fui-upload"> </span>
              <h6>Institutional Memory</h6>
              <p>Preserve institutional memory on stakeholders as you grow and turnover</p>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
              <span class="fui-credit-card"> </span>
              <h6>Security</h6>
              <p>Ensure that nobody but your organization has access to your database of stakeholders</p>
            </div>
          </div>
        </div>
      </section>



    <!-- section 30 -->
    <section id="how-it-works" class="content-30 bg-grey">
        <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h3>How Staketrak Works</h3>
              <p class="lead">Our technology automates the data entry process. Create profiles for hundreds of stakeholders in a matter of minutes.</p>
            </div>
          </div>
          <div class="row features">
            <div class="col-sm-3 box-1">
              <div class="description-top">
                <h6>Easy to use</h6>
                Drag and drop your emails, memos, and meeting notes into our platform. 
                <img src="{{ url_for('static', filename='') }}css/common-files/img/content/arrow-tl@2x.png" width="61" height="97" alt="">
              </div>
              <div class="img">
                <!-- <img src="{{ url_for('static', filename='') }}css/common-files/img/content/pro-1-on_220@2x.png" class="off" width="220" height="220" alt=""> -->
                <img src="{{ url_for('static', filename='') }}css/common-files/img/content/drag_360.png" width="220" height="220" alt="" style="opacity: .9;">
              </div>
              <div class="description-bottom">
                <h6>Instant Feedback</h6>
                We pull all the stakeholders mentioned in your files, along with the contexts in which they’re mentioned, keywords associated with the stakeholders, and trends on which stakeholders appear together.
                <img src="{{ url_for('static', filename='') }}css/common-files/img/content/arrow-bl@2x.png" width="97" height="110" alt="">
              </div>
            </div>
            <div class="col-sm-3 box-2">
              <div class="description-top">
                <h6>Intuitive Search</h6>
                Search your database of stakeholders by name or a keyword, such as an industry or a location.
                <img src="{{ url_for('static', filename='') }}css/common-files/img/content/arrow-tl@2x.png" width="61" height="97" alt="">
              </div>
              <div class="img">
                <!-- <img src="{{ url_for('static', filename='') }}css/common-files/img/content/pro-2_220@2x.png" width="220" height="220" alt=""> -->
                <img src="{{ url_for('static', filename='') }}css/common-files/img/content/search_360.png" width="220" height="220" alt="" style="opacity: .9;">
              </div>
              <div class="description-bottom">
                <h6>Work Together</h6>
                We return stakeholders from documents submitted by any member of your team.
                <img src="{{ url_for('static', filename='') }}css/common-files/img/content/arrow-br@2x.png" width="97" height="110" alt="">
              </div>
            </div>
            <div class="col-sm-3 box-3">
              <div class="description-top">
                <h6>Relevant Information</h6>
                Our output screen displays the file names in which the stakeholders are mentioned, the team member who submitted the files, the sentences in which they’re mentioned across different files, and relevant keywords. 
                <img src="{{ url_for('static', filename='') }}css/common-files/img/content/arrow-tr@2x.png" width="61" height="97" alt="">
              </div>
              <div class="img">
                <!-- <img src="{{ url_for('static', filename='') }}css/common-files/img/content/pro-3_220@2x.png" width="220" height="220" alt=""> -->
                <img src="{{ url_for('static', filename='') }}css/common-files/img/content/see_stakeholders_360.png" width="220" height="220" alt="" style="opacity: .9;">
              </div>
              <div class="description-bottom">
                <h6>Customize</h6>
                Users can add notes on stakeholders through our comment box.
                <img src="{{ url_for('static', filename='') }}css/common-files/img/content/arrow-bl@2x.png" width="97" height="110" alt="">
              </div>
            </div>
            <div class="col-sm-3 box-4">
              <div class="description-top">
                <h6>Quick Navigation</h6>
                A dropdown menu allows you to categorize documents you submit by case or cause.   
                <img src="{{ url_for('static', filename='') }}css/common-files/img/content/arrow-tr@2x.png" width="61" height="97" alt="">
              </div>
              <div class="img">
                <!-- <img src="{{ url_for('static', filename='') }}css/common-files/img/content/pro-4-on_220@2x.png" width="220" height="220" alt=""> -->
                <img src="{{ url_for('static', filename='') }}css/common-files/img/content/filter_360.png" width="220" height="220" alt="" style="opacity: .9;">
              </div>
              <div class="description-bottom">
                <h6>Fresh Filters</h6>
                Select the filter option to see all the stakeholders associated with a specific case or cause.
                <img src="{{ url_for('static', filename='') }}css/common-files/img/content/arrow-br@2x.png" width="97" height="110" alt="">
              </div>
      </section>

    <!-- content from recollective -->
    <section id="about-us" class="content-26 bg-white">
                <div class="container text-left">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>About Us</h3>
                        </div>
                        <div class="col-md-8">
                            <p>Started in the fall of 2015, Staketrak is a team of Harvard students excited by the potential for technology and data science to make a positive impact. We hope to help governments, nonprofits, and other mission-driven organizations build relationships with those who hold a stake in their communities, cases, and causes. By building relationships, we believe we can help build economies.</p>
                            <p style="margin-bottom:0;">We have been incubated by Harvard’s School of Engineering and Applied Sciences, Harvard Ventures, and the Harvard Innovation Lab.</p>
                        </div>
                        <div class="col-md-3 col-md-offset-1"><a target="_blank" href="https://i-lab.harvard.edu"><img src="{{ url_for('static', filename='') }}css/common-files/img/content/ilab-logo.png" width="200" height="75" alt="" style="margin-bottom: 60px"></a></div>
                        <div class="col-md-3 col-md-offset-1"><a target="_blank" href="http://www.harvardventures.org/"><img src="{{ url_for('static', filename='') }}css/common-files/img/content/hventures_480.png" width="200" height="75" alt=""></a></div>
                    </div>
                </div>
            </section>

    <!-- footer-2 -->
      <footer class="footer-2 bg-dark-blue">
        <div class="container">
          <nav class="pull-left">
            <ul>
              <li class="active"><a href="#">© Staketrak</a>
              </li>
            </div>
           </nav>
        </div>
      </footer>
    </div>
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ url_for('static', filename='') }}css/common-files/js/jquery-1.10.2.min.js"></script>
        <script src="{{ url_for('static', filename='') }}css/flat-ui/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='') }}css/common-files/js/modernizr.custom.js"></script>
        <script src="{{ url_for('static', filename='') }}css/common-files/js/page-transitions.js"></script>
        <script src="{{ url_for('static', filename='') }}css/common-files/js/startup-kit.js"></script>
        <script src="{{ url_for('static', filename='') }}js/home.js"></script>
    </body>
</html>