{% extends "base.html" %}
{% block content %}

<html lang="en">
  <!-- Adapted from Twitter Bootstrap template at http://startbootstrap.com/template-overviews/grayscale/--> 
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>StakeTrak</title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='')}}img/favicon.ico">
     
    <link href="{{ url_for('static', filename='') }}css/bootstrap.min.css" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='') }}css/grayscale.css" rel="stylesheet">

    <link href="{{ url_for('static', filename='') }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link href="{{ url_for('static', filename='') }}css/dropzone.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='') }}css/basic.css" rel="stylesheet">

    <script src="{{ url_for('static', filename='') }}js/jquery.js"></script>
    <script src="{{ url_for('static', filename='') }}js/progressbar.js"></script>
    <script src="{{ url_for('static', filename='') }}js/secondpage.js"></script>

  </head>

  
  <body>
    
    <section id="about" class="container content-section text-center"> 
      <center><div style="width: 200px" id="example-clock-container"></div></center>
      <!--<img id="loading-icon" style="display: none;" src="{{ url_for('static', filename='') }}img/cube.gif" alt="loading-icon" width="120" height="120">-->
      <!-- file drop zone -->
      <div id="file-dropzone" class="col-md-8 col-md-offset-2">
        <h1>Drag and Drop Files</h1>
        <!-- put files in user's folder -->
        <form method="post" enctype=multipart/form-data action="{{ url_for('uploader') }}" class="dropzone">
          <div class="fallback">
            <input name="file" type="file" multiple="multiple"/>
          </div>
        </form>
        <!-- process files in folder after submit button is pressed -->
        <br>
        <form>
          <div id="submit-upload" class="btn btn-warning cancel">SUBMIT</div>
        </form>

      <!-- 
        <form action="action_page.php">
          First name:<br>
          <input type="text" name="firstname" value="Mickey"><br>
          Last name:<br>
          <input type="text" name="lastname" value="Mouse"><br><br>
          <input type="submit" value="Submit">
        </form> -->
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='') }}js/dropzone.js"></script>
    </section>
  </body>

{% endblock %}
