<!DOCTYPE html>
<html lang="en">

 <!-- Adapted from Twitter Bootstrap template at http://startbootstrap.com/template-overviews/grayscale/--> 
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PoliFind</title>

    <link href="{{ url_for('static', filename='') }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='') }}css/grayscale.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='') }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
    <link href="{{ url_for('static', filename='') }}css/dropzone.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='') }}css/basic.css" rel="stylesheet">
</head>

<body>
    <!-- file drop zone -->
    <section id="about" class="container content-section text-center">
          <div class="col-md-8 col-md-offset-2">
              <h1>Drag and Drop Files</h1>
                <!-- put files in user's folder -->
                <form method="post" enctype=multipart/form-data action="{{ url_for('uploader') }}" class="dropzone">
                  <div class="fallback">
                    <input name="file" type="file" multiple="multiple"/>
                  </div>
                </form>
                <br><br><br>
                <!-- process files in folder after submit button is pressed -->
                <form method="post" action="{{ url_for('thirdpage') }}">
                  <button type="submit", class="btn btn-warning cancel">SUBMIT</button>
                </form>
                <br><br> 
            </div>
             <script type="text/javascript" src="{{ url_for('static', filename='') }}js/dropzone.js"></script>
</body>
</html> 