{% extends "base.html" %}
{% block content %}

<html lang="en">
  <!-- Adapted from Twitter Bootstrap template at http://startbootstrap.com/template-overviews/grayscale/--> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>StakeTrak</title>
     
    <link href="{{ url_for('static', filename='') }}css/bootstrap.min.css" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='') }}css/grayscale.css" rel="stylesheet">

    <link href="{{ url_for('static', filename='') }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link href="{{ url_for('static', filename='') }}css/dropzone.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='') }}css/basic.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='') }}css/custom.css" rel="stylesheet">

    <script src="{{ url_for('static', filename='') }}js/jquery.js"></script>
    <script src="{{ url_for('static', filename='') }}js/progressbar.js"></script>
    <script>
      $(document).ready(function() {
        $('#submit-upload').on('click', function() {
          console.log("click!");
          var jqxhr = $.post("{{ url_for('thirdpage') }}" + "?apikey=rollthru").done(function(data, status, errorthrown) {
            document.write(data);
          }).fail(function(data, status, errorthrown) {
            //alert( "error: " + status + " problem: " + errorthrown );
            document.write(data.responseText);
          })
          $('#loading-icon').toggle();
          $('#file-dropzone').toggle();

          var total = 0
          var sizeList = $('.dz-size');
          for (var i = 0; i < sizeList.length; i++) {
            sl = sizeList[i].innerHTML.split("</strong> ");
            var sizeValue = $('.dz-size strong')[i].innerHTML;
            var unit = sl[sl.length - 1].substring(0, 2);
            var typeStr = $('.dz-filename span')[i].innerHTML;
            var type = typeStr.split('.');
            var t = type[type.length - 1];

            var multiplier = 1
            console.log(t.toLowerCase());
            if (t.toLowerCase() == "pdf") {
              multiplier = 0.192;
            }
            if (t.toLowerCase() == "docx" || t.toLowerCase() == "doc") {
              multiplier = 0.394;
            }
            console.log(unit.toLowerCase());
            if (unit.toLowerCase() == "m") {
              multiplier = multiplier * 1024;
              console.log("megabytes!");
            }
            if (unit.toLowerCase() == "gb") {
              multiplier = multiplier * 1024 * 1024;
            }
            // 30 seconds per kilobyte
            var rate = 30;
            var seconds = parseFloat(sizeValue) * multiplier * rate;
            total = total + seconds
          }

          total = Math.floor(total)
          console.log("processing will take approximately " + total + " seconds.");

          var element = document.getElementById('example-clock-container');
          var seconds = new ProgressBar.Circle(element, {
              duration: 800,
              color: "#FCB03C",
              trailColor: "#ddd"
          });

          seconds.animate(0, function() {
              seconds.setText(0);
          });
          var lastSecond = 0;
          setInterval(function() {
            seconds.animate(lastSecond / total, function() {
                seconds.setText(Math.floor(lastSecond*100/total));
                lastSecond = lastSecond + 1;
            });
          }, total*10);


        });

      });
    </script>

  </head>

  
  <body>
    
    <section id="about" class="container content-section text-center"> 
      <div style="width: 200px" id="example-clock-container"></div>
      <img id="loading-icon" style="display: none;" src="{{ url_for('static', filename='') }}img/cube.gif" alt="loading-icon" width="120" height="120">
      <!-- file drop zone -->
      <div id="file-dropzone" class="col-md-8 col-md-offset-2">
        <h1>Drag and Drop Files</h1>
        <!-- put files in user's folder -->
        <form method="post" enctype=multipart/form-data action="{{ url_for('uploader') }}" class="dropzone">
          <div class="fallback">
            <input name="file" type="file" multiple="multiple"/>
          </div>
        </form>
        <!-- process files in folder after submit button is pressed -->
        <br>
        <form>
          <div id="submit-upload" class="btn btn-warning cancel">SUBMIT</div>
        </form>

      <!-- 
        <form action="action_page.php">
          First name:<br>
          <input type="text" name="firstname" value="Mickey"><br>
          Last name:<br>
          <input type="text" name="lastname" value="Mouse"><br><br>
          <input type="submit" value="Submit">
        </form> -->
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='') }}js/dropzone.js"></script>
    </section>
  </body>

{% endblock %}
