{% extends "base.html" %}
{% block content %}
<html lang="en">
 <!-- Adapted from Twitter Bootstrap template at http://startbootstrap.com/template-overviews/freelancer/--> 

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>The People</title>

  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="{{ url_for('static', filename='') }}css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="{{ url_for('static', filename='') }}css/custom.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{ url_for('static', filename='') }}css/freelancer.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{{ url_for('static', filename='') }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Named Entities</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/6424402.jpeg') }}" type="image/x-icon">

  <link href="{{ url_for('static', filename='') }}css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='') }}css/landing-page.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='') }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index">

  <!-- Header -->
  <header>
    <div class="container">
      <div class="row">
        <body>

        <!-- iterate through each named person and print relevant details-->
        {% for name, sum_key_loc in wiki.iteritems(): %}
          <div class="name">
            <div class="intro-text">
              <br>

              <!-- provide name of person-->                             
              <span class="name"> {% print name %} </span>
              <hr class="star-light">
              <div class="row">

                <!-- provide summary--> 
                {% print "Sentences in which Entity Appears: " %}
                <p> 
                  {% for sentence in sum_key_loc[0]: %}
                    <p>{% print sentence %} </p>
                  {% endfor %}
                </p>

                <br>

                <p>
                  Keywords: 
                  {% for keyword in sum_key_loc[1] %}
                    <a href="{{ url_for('thirdpage') }}?q={{ keyword[0] }}" style="color: #CC0000">{% print keyword[0] %}</a>
                  {% endfor %}
                </p>

                <p> 
                {% for location in sum_key_loc[2] %}
                  <p>Found in <a href="{{ url_for('thirdpage') }}?q={{ location }}" style="color: #CC0000">{% print location %}</a></p>
                {% endfor %}
                </p>

                <!--- insert text box here -->  
                <p>
                  <form action="/customdata/" method="POST">
                    {% print "Comments:" %}
                    <!--- name -->
                    <br>
                    <input type="text" style="color: #000000" name="customdata">
                    <input type="submit" value="Submit">
                  </form>
                </p>                
<!--                 <p> Recent News Articles </p>
                <a href="{% print sum_key_loc[4] %}" style="color: #CC0000">{% print sum_key_loc[4] %}</a>

                <a href="{% print sum_key_loc[5] %}" style="color: #CC0000">{% print sum_key_loc[5] %}</a>

                <a href="{% print sum_key_loc[6] %}" style="color: #CC0000">{% print sum_key_loc[6] %}</a>

                <a href="{% print sum_key_loc[7] %}" style="color: #CC0000">{% print sum_key_loc[7] %}</a>
                
                <a href="{% print sum_key_loc[8] %}" style="color: #CC0000">{% print sum_key_loc[8] %}</a> -->

                <!-- line breaks following each entry -->
                <br> 
                <br>  
              </div>  
            </div>
          </div>                  
        {% endfor %}
        </body>                    
      </div>
    </div>
  </header>

  <!-- jQuery -->
  <script src="{{ url_for('static', filename='') }}js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{ url_for('static', filename='') }}js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='') }}js/jquery.easing.min.js"></script>
  <script src="{{ url_for('static', filename='') }}js/classie.js"></script>
  <script src="{{ url_for('static', filename='') }}js/cbpAnimatedHeader.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="{{ url_for('static', filename='') }}js/freelancer.js"></script>

  <script src="{{ url_for('static', filename='') }}js/jquery.js"></script>
  <script src="{{ url_for('static', filename='') }}js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}